.content {
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 1;
	display: block;
	font-size: 16px;
}

.work {
	width: 1000px;
}

.rework {
	padding-top: 20px;
	padding-bottom: 10px;
}

.job {
	width: 295px;
	height: 110px;
	display: inline;
	position: relative;
	float: left;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px;
}

div>img {
	margin-top: 5px;
}

div>a {
	text-decoration: none;
	color: white;
}

div>h3 {
	margin-bottom: 5px;
	color: black;
	font-family: 'Athiti', sans-serif;
}

div>div>div>a>h3:hover {
	color: blue;
}

div>h3:hover {
	color: #0080ff;
}

content>div>div>div>div>div>div>h3:hover {
	color: red;
}

div>h2 {
	padding-bottom: 5px;
	font-family: 'Athiti', sans-serif;
}


div>p {
	font-family: 'Maitree', serif;
	color: black;
}

.button {
	align-content: center;

}

.prof {
	width: 625px;
	float: left;
}


.time {
	width: 320px;
	float: left;
	padding-left: 20px;
}

.intime {
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 10px;
	height: 100px;
}

.serv {
	width: 655px;
	height: 200px;
	margin-top: 20px;
	float: left;
	border: 1px solid #cccccc;
}

.address {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 15px;
}

p>a {
	text-decoration: none;
}

p>a:hover {
	color: red;
}

div>h1,div>span {
	font-family: 'Athiti', sans-serif;
}

div>div>img {
	margin-right: 5px;
}


div>p>a,div>span>a {
	color: #333;
}

div>span>a:hover {
	color: red;
}

h1 {
	font-size: 28px;
	color:#003399;
}

.mySlides {
	display:none;
	border: 1px solid gray;
	height: 240px;
	float: center;
}
